[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
selenium = "*"
pytest = "*"
requests = "*"
allure-pytest = "*"
pyyaml = "*"
pytest-sugar = "*"
pytest-rerunfailures = "*"
pytest-xdist = "*"
pytest-assume = "*"
pytest-html = "*"
pytest-picked = "*"
pytest-parallel = "*"

[requires]
python_version = "3.8"
